appdirs==1.4.4
astroid==2.4.1
attrs==19.3.0
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
DateTime==4.3
defusedxml==0.6.0
Deprecated==1.2.10
idna==2.9
isodate==0.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
public==2019.4.13
pycep-correios==4.0.1
pylint==2.5.2
pytz==2020.1
requests==2.23.0
requests-toolbelt==0.9.1
six==1.14.0
timedelta==2019.4.13
toml==0.10.1
urllib3==1.25.9
validate-docbr==1.7.0
wrapt==1.12.1
zeep==3.4.0
zope.interface==5.1.0
telepot==12.7
